.statistics {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;

  border: 2px solid rgb(196, 186, 186);
  border-radius: 6px;
  background-color: #fff;

  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.title {
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  letter-spacing: 5px;

  text-shadow: 2px 2px 4px #000000;
}

.statlist {
  padding: 0;
  margin-bottom: 0px;

  list-style: none;
  display: flex;
  justify-content: space-around;
}

.item {
  width: 80px;
  text-align: center;
  color: #fff;
  padding: 20px;

  display: flex;
  flex-direction: column;
  text-shadow: 2px 2px 4px #353434;
  background-color: rgb(53, 53, 56);
}

.percentage,
.label {
  font-size: 30px;
}
